[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "==1.2.0"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
opencv-python = "*"

[requires]
python_version = "3.8"